#change_inf_box {
  background: white;
  max-width: 600px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;  /* Center all child elements */
}

.logo {
  width: 125px;  
  height: auto;
  display: block;
  margin: 0 auto;
}

#change_inf_box > h3 {
  font-size: 20px;
  color: black;
  text-align: center;  /* Center the heading */
}

#change_inf_box > div:first-child {
  margin: auto;
  width: 50px;
  height: 40px;
}

#change_inf_box > p {
  font-size: 14px;
  color: black;
  text-align: left;
  padding-left: 65px;
}

.form {
  margin-top: 8%;
}

form input {
  width: 93%;
  height: 35px;
  margin: 2% 0;
  border: 1px solid rgb(224, 220, 220);
  padding-left: 15px;
  color: rgb(117, 117, 117);
}

input:focus {
  outline: none;
  border: 2px solid black;
}

.gender {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

div.gender {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-self: center;
  margin: 10px 0;
}

.gender label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(117, 117, 117);
}

#change_inf  {
  width: 25%;
  height: 40px;
  background: black;
  color: white;
  margin-bottom: 2%;
  font-family: sans;
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: -0.5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#change_inf:hover {
  background: black;
}

.back-btn {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 10px;
}

.back-btn a {
  text-decoration: none;
  color: #888;
  font-size: 20px;
  transition: color 0.3s;
}

.back-btn a:hover {
  color: #555;
}
