#information_box {
    box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    margin: 8% auto 5%;
    text-align: center;
  }

  #information_box > div:first-child {
    margin: auto;
    width: 50px;
    height: 40px;
  }
    .logo {
        width: 125px;  
        height: auto; 
    }

    .avatar {
        width: 50px;  
        height: 50px;
        border-radius: 50%; 
        object-fit: cover; 
    }

  #information_box > h3 {
    font-size: 20px;
    color: rgb(238, 85, 197);
  }
  #information_box > p {
    font-size: 14px;
    color: rgb(238, 85, 197);
    text-align: left;
    padding-left: 65px;
  }
  #change_inf {
    width: 98%;
    height: 40px;
    background: rgb(231, 37, 179);
    color: white;
    margin-bottom: 2%;
    font-family: sans;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: -0.5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}